.box {
    width: 500px;
    height: 300px;
    background-color:azure;
}
.inner{
    width: 200px;
    height: 200px;
    color: #fff;
    background-color: #f20;
}
/* .box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 500px;
    height: 300px;
    background-color:azure;
} */

/* .box{
    display: grid;
}
.inner{
    justify-self:center;
    align-self: center;
} */

.box {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin: 0 auto;
}